{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "System": "Information",
      "Microsoft": "Information",
      "Microsoft.AspNetCore.Authentication": "Debug"
    }
  },
  "AppSettings": {
    "CosmosUri": "https://lexploration-dev.documents.azure.com:443/",
    "TableCompanies": "companies-dev",
    "TableConversations": "conversations-dev",
    "TableMessages": "messages-dev",
    "TableRefinements": "refinements-dev",
    "TableUsers": "users-dev",
    "TableLogs": "logs-dev",
    "TableMetrics": "metrics-dev",

    "QueueEmails": "send-email",

    "PrintLogsStdOut": true,
    "WriteLogsCosmos": false,
    "LogBufferPollRateMs": 1000,
    "LogLevel": "Debug",

    "WriteMetricsCosmos": false,
    "MetricsBufferPollRateMs": 1000
  },
  "ConnectionStrings": {
    "CosmosPrimaryAuthKey": "r5...g==",
    "QueueConnectionStr": "DefaultEndpointsProtocol=...;AccountName=...;AccountKey=Ig...A==;EndpointSuffix=...",
    "OpenAiApiKey": "sk-...",
  }
}